@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: 
    radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),
    #000000;
  min-height: 100vh;
  color: rgb(226, 226, 226);
}

.padding{
  padding: 20px 5%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  backdrop-filter: blur(100px);
  top: 0;
  position: sticky;
  z-index: 100;
}
.logo{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.header input{
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  border: 2px solid rgba(139, 92, 246, 0.363);
  border-radius: 10px;
  background-color: rgba(138, 92, 246, 0.151);
  color: rgb(226, 226, 226);
}
.header input:focus{
  outline: none;
}
.header button{
  width: 40px;
  height: 40px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: large;
  cursor: pointer;
  background-color: transparent;
}
.searchBar{
  display: flex;
}

.tag{
  width: 40%;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: rgba(138, 92, 246, 0.555);
  font-weight: bold;
  margin: 0 auto;
  margin-top: 20px;
}

.htag{
  width: 80%;
}

.card{
  display: block;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.4s;
}
.card:hover{
  transform: scale(1.03);
}
.card img{
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.card h3{
  background: 
    radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),
    #8b5cf640;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  color: rgb(226, 226, 226);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold ;
}

.moviepage h3{
  margin-top: 12px;
  margin-bottom: 8px;
}

.moviepage p{
  margin-bottom: 10px;
}

.genre{
  padding: 4px 8px;
}
.genres{
  margin-bottom: 10px;
}

.trailer{
  margin-bottom: 30px;
}
.trailer-text{
  margin-top: 15px;
  margin-bottom: 15px;
}

.no-trailer{
  margin-top: 30px;
}

.page-btns {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 6px 12px;
  border-radius: 6px;
  background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),#8b5cf640;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.page-btns:hover:not(:disabled):not(.active) {
  background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),#8a5cf628;
}

.page-btns:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.page-btns.active {
  background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(139, 92, 246, 0.25), transparent 70%),#8a5cf670 !important; 
  font-weight: bolder;
  border: 1px solid;
  border-color: #8a5cf670;
}

@media (max-width: 400px) {
  .header input{
    width: 180px;
  }
  .tag{
  width: 200px;
}
} 

@media (min-width: 768px) {
  .padding{
    padding: 20px 8%;
  }
  .page-btns{
    padding: 7px 14px;
    font-size: 17px;
  }
  .header input{
    padding: 20px 10px;
  }
  .header{
    padding: 10px 8%;
  }
  .trailer-text{
    margin-top: 40px;
}
}

@media (min-width: 1280px) {
  .padding{
    padding: 20px 10%;
  }
  .header input{
    padding: 20px 10px;
    font-size: 17px;
  }
  .header{
    padding: 10px 10%;
  }
}

@media (min-width: 1536px) {
  .padding{
    padding: 20px 15%;
  }
  .page-btns{
    padding: 8px 16px;
    font-size: 18px;
  }
  .header{
    padding: 10px 15%;
  }
}


